astroid==2.11.2
attrs==21.4.0
bleach==5.0.0
build==0.7.0
certifi==2021.10.8
charset-normalizer==2.0.12
commonmark==0.9.1
dill==0.3.4
docutils==0.18.1
idna==3.3
importlib-metadata==4.11.3
iniconfig==1.1.1
isort==5.10.1
keyring==23.5.0
lazy-object-proxy==1.7.1
mccabe==0.7.0
multidict==6.0.2
packaging==21.3
pep517==0.12.0
pkginfo==1.8.2
platformdirs==2.5.1
pluggy==1.0.0
proxmoxer==1.2.0
py==1.11.0
Pygments==2.11.2
pylint==2.13.5
pyparsing==3.0.8
PySide2==5.15.2.1
pytest==7.1.1
pytest-vcr==1.0.2
python-decouple==3.6
PyYAML==6.0
readme-renderer==34.0
requests==2.27.1
requests-toolbelt==0.9.1
rfc3986==2.0.0
rich==12.2.0
shiboken2==5.15.2.1
shiboken6==6.2.4
six==1.16.0
tomli==2.0.1
twine==4.0.0
typing_extensions==4.1.1
urllib3==1.26.9
vcrpy==4.1.1
webencodings==0.5.1
wrapt==1.14.0
yarl==1.7.2
zipp==3.8.0
